/* WELCOME PAGE */
html {
    /*height: 100%;*/
    /*width: 100%;*/
}

body {
    /*height: 100%;*/
    /*width: 100%;*/
    /*background-color: white;*/
}

#header {
    height: 60px;
    width: 100%;
    background-color: black;
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

#game-name {
    height: 100%;
    line-height: 60px;
    padding-left: 40px;
    color: white;
}

#players-remaining {
    text-align: center;
    display: none;
}

#goto-menu {
    padding-right: 40px;
    text-align: right;
    display: none;
}

.header-item {
    color: white;
    height: 100%;
    line-height: 60px;
    width: 250px;
}

#content-container {
    display: flex;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
    justify-content: center;
    -webkit-justify-content: center;
    width: 100%;
    flex-direction: column;
    height: 100%;
}

#create-game-container {
    flex-grow: 0;
    -webkit-box-flex: 0;      /* OLD - iOS 6-, Safari 3.1-6 */
    -moz-box-flex: 0;         /* OLD - Firefox 19- */
    background-color: black;
    border-radius: 5px;
    align-self: center;
    margin-bottom: 20px;
    display: none;
}

#create-room-button {
    color: white;
    padding: 15px 20px;
}

#game-list-container {
    align-self: center;
    width: 100%;
    max-width: 400px;
    background-color: black;
    border-radius: 5px;
    display: none;
}

#game-list {
    color: white;
    /*list-style-type: none;*/
    /*margin: 0;*/
    /*padding: 0;*/
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    padding: 0;
}

#game-list li {
    border-bottom: 1px solid white;
    padding: 15px 20px;
}

canvas {
    display: none;
    position: absolute;
    top: 0;
    z-index: -1;
}


/* Game Menu Styles */
#game-menu-container {
    display: none;
    align-self: center;
    width: 100%;
    max-width: 400px;
    color: white;
    /*background-color: black;*/
}

#players-in-room {
    background-color: black;
    border-radius: 5px;
}

h3 {
    text-align: left;
    padding: 15px 20px;
    margin-bottom: 0;
    border-bottom: 3px solid white;
    color: white;
    margin-top: 0;
}

#players-in-room li {
    border-bottom: 1px solid white;
    padding: 15px 20px;
    text-align: left;
}

#game-buttons-container {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.menu-button {
    background-color: black;
    border-radius: 5px;
    width: 125px;
    height: 60px;
    line-height: 60px;
    text-align: center;
}

#player-outcome-container {
    width: 100%;
    max-width: 400px;
    height: 200px;
    background-color: rgba(0,0,0,.3);
    align-self: center;
    z-index: 3;
    border-radius: 5px;
    display: none;
    margin-top: 100px;
}

#player-outcome-x {
    color: white;
    margin: 15px;
}

#player-outcome {
    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: white;
    line-height: 100px;
    letter-spacing: 1px;
    word-spacing: 2px;
}

#game-over-container {
    display: none;
    width: 100%;
    max-width: 800px;
    height: 200px;
    background-color: rgba(0,0,0,.5);
    align-self: center;
    z-index: 3;
    border-radius: 5px;
    /*display: none;*/
    margin-top: 100px;

    text-align: center;
    font-size: 40px;
    font-weight: 900;
    color: white;
    line-height: 200px;
    letter-spacing: 1px;
    word-spacing: 2px;

}

#name-input-container {
    align-self: center;
    width: 100%;
    max-width: 300px;
    background-color: black;
    color: black;
    border-radius: 5px;

    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: column;

    display: none;
}

#name-input-description {
    color: white;
    font-size: 24px;
    font-weight: 700;
    margin: 15px;

    display: block;
    text-align: left;
    width: 100%;

}

#name-input {
    align-self: center;
    margin-bottom: 15px;
}

#name-submit {
    align-self: center;
    background-color: white;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    color: black;
    margin-bottom: 15px;
    padding: 5px 15px;
    text-transform: capitalize;
}


